 /* UNDER 475PX Screen */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__title {
    font-size: var(--size-3xl);
    color: var(--clr-slate300);
}

.about__img {
    height: var(--size-6xl);
    border-radius: 50%;
    margin-bottom: var(--size-lg);
    margin-top: var(--size-6xl);

}

.about__content {
    color: var(--clr-slate400);
    margin-left: var(--size-xs);
    margin-right: var(--size-xs);
    font-size: var(--size-base);
    text-align: center;
    font-weight: 400;
    max-width: 40ch;
}

.about__techlist {
    color: var(--clr-slate300);
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: var(--size-base);
    color: var(--clr-slate200);
    font-weight: 300;
    margin-top: var(--size-sm);
}

.about__subtitle {
    font-size: var(--size-2xl);
    margin-top: var(--size-7xl);
    margin-bottom: var(--size-2xl);
    color: var(--clr-slate300);
    font-weight: 400;
}

.about__certlist {
    padding: 0 0;
    text-align: center;
    margin-left: var(--size-sm);
    margin-right: var(--size-sm);
  
}

.about__certlist a {
    color: var(--clr-slate500);
    font-weight: 300;
    font-size: var(--size-sm);
    cursor: pointer;
    transition: color 0.3s;
}

.about__certlist a:hover {
    color: var(--clr-wintersky)

}


 /* 475PX Screen */

@media (min-width: 475px) {
    .about__title {
        font-size: var(--size-4xl);
    }
    
    .about__img {
        height: var(--size-7xl);
        margin-bottom: var(--size-xl);
        margin-top: var(--size-7xl);
    }
    
    .about__content {
        margin-left: var(--size-xs);
        margin-right: var(--size-xs);
        font-size: var(--size-base);
    }
    
    .about__techlist {
        font-size: var(--size-xl);
        margin-top: var(--size-base);
    }
    
    .about__subtitle {
        font-size: var(--size-2xl);
        margin-top: var(--size-7xl);
        font-weight: 500;
    }
    
    
    .about__certlist a {
        font-weight: 300;
        font-size: var(--size-base);

    }
    

}



 /* 640PX Screen */

@media (min-width: 640px) {
    .about__title {
        font-size: var(--size-5xl);
    }
    
    .about__img {
        margin-bottom: var(--size-2xl);
        margin-top: var(--size-8xl);
    
    }
    
    .about__content {
        font-size: var(--size-base);
        max-width: 50ch;
    }
    
    .about__techlist {
        gap: 2em;
        font-size: var(--size-lg);
        font-weight: 300;
        margin-top: var(--size-lg);
    }
    
    .about__subtitle {
        font-size: var(--size-3xl);
        margin-top: var(--size-8xl);
        margin-bottom: var(--size-3xl);
    }
    
    .about__certlist a {
        font-weight: 300;
        font-size: var(--size-base);
    }

}
 
@media (min-width: 768px) {

    
    .about__img {
        height: var(--size-8xl);
        margin-bottom: var(--size-3xl);
        margin-top: var(--size-9xl);
    
    }
    
    .about__content {
        font-size: var(--size-lg);
    }
    
    .about__techlist {
        gap: 3em;
        font-size: var(--size-xl);
        font-weight: 300;
        margin-top: var(--size-xl);
    }
    
    .about__subtitle {
        font-size: var(--size-4xl);
        margin-top: var(--size-9xl);
        margin-bottom: var(--size-4xl);
    }
    
    .about__certlist a {
        font-weight: 400;
    }
}

@media (min-width: 1024px) {
    .about__title {
        font-size: var(--size-3xl);
    }
    
    .about__img {
        height: var(--size-6xl);
        margin-bottom: var(--size-2xl);
        margin-top: var(--size-2xl);
    }
    
    .about__content {
        margin-left: var(--size-xs);
        margin-right: var(--size-xs);
        font-size: var(--size-base);
        text-align: center;
        max-width: 60ch;
     
    }
    
    .about__techlist {
        gap: 2em;
        font-size: var(--size-xl);
        color: var(--clr-wintersky);
        font-weight: 300;
        margin-top: var(--size-xs);
    }
    
    .about__subtitle {
        font-size: var(--size-2xl);
        margin-top: var(--size-5xl);
        margin-bottom: var(--size-2xl);
    }
    
    .about__certlist {
        text-align: center;
    }
    
    .about__certlist a {
        font-weight: 300;
        font-size: var(--size-sm);
    }
    


}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {

}