.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__title {
    font-size: var(--size-3xl);
    color: var(--clr-slate300);
    text-shadow: 0 0 5px var(--clr-blueviolet),
                 0 0 20px var(--clr-blueviolet);
}

.about__img {
    height: var(--size-7xl);
    border-radius: 50%;
    margin-bottom: var(--size-lg);
    margin-top: var(--size-6xl);
    border-radius: 50%;
    border: 3px solid var(--clr-blueviolet);
}

.about__img:hover {
    box-shadow: 0 0 5px var(--clr-blueviolet),
                0 0 20px var(--clr-blueviolet);
}

.about__content {
    color: var(--clr-slate400);
    margin-left: var(--size-xs);
    margin-right: var(--size-xs);
    font-size: var(--size-base);
    text-align: center;
    font-weight: 400;
    max-width: 40ch;
}

.about__techlist {
    color: var(--clr-slate300);
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: var(--size-base);
    color: var(--clr-slate200);
    font-weight: 300;
    margin-top: var(--size-xl);
    text-shadow: 0 0 5px var(--clr-blueviolet),
                 0 0 20px var(--clr-blueviolet);        
}

.divider {
    margin: 5em;
}

.about__subtitle {
    font-size: var(--size-2xl);
    margin-bottom: var(--size-2xl);
    color: var(--clr-slate300);
    font-weight: 400;
}

.about__certimg {
    width: 4em;
    margin: var(--size-2xl);
    padding: 0.5em 0.5em;
    border-radius: 10%;
    border: 1px solid var(--clr-blueviolet);
    box-shadow: 0 0 5px var(--clr-blueviolet),
    0 0 20px var(--clr-blueviolet),
    0 0 30px var(--clr-blueviolet);
}

.about h3 a {
    color: var(--clr-slate500);
    font-size: var(--size-base);
}

.about__certlist {
    padding: 0 0;
    text-align: center;
    margin-left: var(--size-sm);
    margin-right: var(--size-sm);
}

 .about__certlist a {
    color: var(--clr-slate500);
    font-weight: 300;
    font-size: var(--size-xxs);
    cursor: pointer;
    transition: color 0.3s;
    line-height: 2em;
    padding: 0.2em;
    background:
      linear-gradient(
        to right,
        var(--clr-wintersky),
        var(--clr-blueviolet)
      ),
      linear-gradient(
        to right,
        var(--clr-yellow),
        var(--clr-yellow)
    );
    background-size: 100% 1px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
 .about__certlist a:hover {
    background-size: 0 1px, 100% 1px;
    color: var(--clr-slate400);
  }



  @media (min-width: 375px) {
    .about__certlist a {
        font-size: var(--size-xs);
    }

  }
  
  @media (min-width: 475px) {
    
  
  }
  
  @media (min-width: 640px) {
  
  }
   
  @media (min-width: 768px) {
  
  }
  
  @media (min-width: 1024px) {
  
  }
  
  @media (min-width: 1280px) {
  
  }
  
  @media (min-width: 1536px) {
  
  } 