.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--clr-blueviolet);
    position: sticky;
    top: 0;
    height: 1em;
}
.header__menu {
    display: none;
}

.header__bars {
    color: var(--clr-dark);
    width: var(--size-xl);
    height: var(--size-xl);
    display: block;
    margin-right: var(--size-sm);
}

.logo { 
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 0.3em;
    padding: 0;
    color: var(--clr-light);
    flex-grow: 1;
    margin-left: var(--size-sm);
}

.header__logo {
    height: var(--size-base);
    transition: transform 0.3s ease out;
    align-self: center;
    color: var(--clr-wintersky);
}


.logo__text {
    font-weight: 200;
    font-size: var(--size-base);
    color:var(--clr-dark);
    align-self: center;
}

.logo__text span {
    font-weight: 300;
}


@media (min-width: 475px) {

}

@media (min-width: 640px) {
    .header__bars {
        width: var(--size-2xl);
        height: var(--size-2xl);
    }

    .logo__text {
        font-weight: 300;
    }
    
    .logo__text span {
        font-weight: 400;
    }
}

 
@media (min-width: 768px) {
    
.header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    gap: 1em;
    transform: color 0.3s;
    margin-right: var(--size-base);
}
.header__link {
    font-size: var(--size-base);
    transition: color 0.3s;
}
.header__link:hover{
    color: var(--clr-wintersky);
}
.header__bars {
    display: none;
}
}

@media (min-width: 1024px) {
    
.header__menu {
    gap: 3em;
}
.header__link {
    font-size: var(--size-lg);
}

}

@media (min-width: 1280px) {
    .logo { 
        gap: 1em;
        padding: 0;

        margin-left: var(--size-xl);
    }
    .header__logo {
        height: var(--size-2xl);
    }
    
    
    .logo__text {
        font-weight: 300;
        font-size: var(--size-xl);

    }
.header__menu {
    gap: 8em;
    margin-right: var(--size-5xl);
}
.header__link {
    font-size: var(--size-xl);
}

}

@media (min-width: 1536px) {

}


