.work {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.work__title {
    font-size: var(--size-3xl);
    color: var(--clr-slate300);
    margin-bottom: var(--size-5xl);
}

.work__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-sm);
    padding: 0 0;
    text-align: center;

}

.work__list a {
    font-size: var(--size-xs);
    color: var(--clr-slate300);
    transition: color 0.3s;
}

.work__list a:hover {
    color:var(--clr-wintersky)
}

.work__img {
    margin-bottom: var(--size-5xl);
    margin-top: var(--size-xs);
    height: auto;
    width: var(--size-10xl);
    border: 1px solid var(--clr-slate700);
    border-radius: 20px;

}

.work__content {
    font-size: var(--size-xs);
    color: var(--clr-slate500);
    text-align: center;
}
