
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.section {
    margin-bottom: 10rem;
}




/* ON SCROLL EFFECTS */
.hidden-top {
    opacity: 0;
    transform: translateY(-100%);
    filter: blur(15px);
    transition: all .5s ease-in-out;
}

.hidden-left {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(15px);
    transition: all .5s ease-in-out;
}

.hidden-right {
    opacity: 0;
    transform: translateX(100%);
    filter: blur(15px);
    transition: all .5s ease-in-out;
    }

.show {
    opacity: 100;
    transform: translateX(0);
    transform: translateY(0);
    filter: blur(0px);  
}

.hidden-blur {
    filter: blur(20px);
    transition: all .5s ease-in-out;
}

.hidden {
    filter: blur(20px);
    transition: all .5s ease-in-out;
}

.unblur {
    filter: blur(0px);
}


/* CONTAINER */
@media (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}

@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }   
}
 
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1920px;
    }

    }


/* 

@media (min-width: 375px) {

}

@media (min-width: 475px) {

}

@media (min-width: 640px) {

}
 
@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {

} */


/* DIVIDERS */
.section-divider {
    border: 1px solid var(--clr-blueviolet);
    width: 65%;  
    opacity: 20%;
    }

.divider {
    border: 1px solid var(--clr-slate700);
    width: 50%;  
    opacity: 45%;
    }

.horizontal__divider {
    border-left: 1px solid var(--clr-blueviolet);
    height: 20em;
    opacity: 10%;

}